body {
  margin:0;
  padding: 0;
  background-color: #202020;
  color: #d0d0d0;
  font-family: sans-serif;
}


.dot {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: blue;
  display: inline-block;
}
